{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %} NBA Statistical Analysis Project {% endblock %}
{% block content %}
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        </button>
        <a href="/" class="navbar-brand">NBA Stats Project</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'stats:basicstats' %}">Basic Statistics</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fantasy Basketball Analysis <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'stats:user_rank' %}">User Rankings</a></li>
              <li><a href="{% url 'stats:fantasy' %}">Calculated Rankings</a></li>
            </ul>
          </li>
          <li><a href="{% url 'stats:learning' %}">Statistical Learning</a></li>
          <li class="active"><a href="{% url 'stats:about' %}">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user and not user.is_anonymous %}
            <li><a>Hello {{ user.get_full_name|default:user.username}}!</a></li>
            <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
          {% else %}
            <li><a>Hello Guest! Login with:</a></li>
            <li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="{% static 'img/facebookicon.png' %}" alt="googleicon" class="icon"></a></li>
            <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><img src="{% static 'img/googleicon.png' %}" alt="googleicon" class="icon"></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <div class="jumbotron">
      <div class="container">
        <h1>NBA Statistical Analysis Project</h1>
        <h2>About: Behind the scene stuff.</h2>
        <br>
        <p>(learn more about the site and me!!!)</p>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <h1>The purpose of this site was two-fold:</h1>
      <p>
        1. Last year, I was the guy on my home page in my fantasy league. THAT IS NOT HAPPENING AGAIN GUYS!!
        <br>2. More imporantly, I wanted to gain practical skills to help me become an employable software engineer.
      </p>
      <p>
        This site was developed using Django with MySQL, Redis, and Nginx. 
        <br>R will be used for statistical learning.
      </p>
      <p>
        GitHub:
        <a href="https://github.com/fredthekid/django_nba_stats">Check out my code here!</a>
      </p>
    </div>
  </section>
</body>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/sorttable.js' %}"></script>
    <script src="{% static 'js/stats.js' %}"></script>
{% endblock %}