{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %} NBA Statistical Analysis Project {% endblock %}
{% block content %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        </button>
        <a class="navbar-brand">NBA Stats Analysis</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'stats:basicstats' %}">Basic Statistics</a></li>
          <li class="active"><a href="{% url 'stats:fantasy' %}">Fantasy Basketball Analysis</a></li>
          <li><a>Statistical Learning</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <div class="jumbotron">
      <div class="container">
        <h1>NBA Statistical Analysis Project</h1>
        <h2>Fantasy Basketball Rankings: Draft a beast team.</h2>
        <br>
        <p>(ranking algorithm is pretty <a href="https://twitter.com/hashtag/basic?lang=en">#basic</a> but i will improve it later!!!)</p>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <h3>2014-15 Fantasy Rankings</h3>
      <div class="table-responsive">
        <table id="stats_main" class="table table-bordered sortable">
          <thead>
            <tr>
              <th>Name</th>
              <th>GPV</th>
              <th>FGMV</th>
              <th>FG%V</th>
              <th>3PMV</th>
              <th>3P%V</th>
              <th>FTMV</th>
              <th>FT%V</th>
              <th>REBV</th>
              <th>ASTV</th>
              <th>TOV</th>
              <th>A/TV</th>
              <th>STLV</th>
              <th>BLKV</th>
              <th>PTSV</th>
              <th>TOT</th>
            </tr>
          </thead>
          <tbody>
            {%for player in players %}
            <tr>
              <td><a href="{% url 'stats:gamelog' p_id=player.id %}">{{player.first_name | title}} {{player.last_name | title}}</a></td>
              <td>{{player.games_played | floatformat:2}}</td>
              <td>{{player.fgm | floatformat:2}}</td>
              <td>{{player.fg_pct | floatformat:2}}</td>
              <td>{{player.fg3m | floatformat:2}}</td>
              <td>{{player.fg3_pct | floatformat:2}}</td>
              <td>{{player.ftm | floatformat:2}}</td>
              <td>{{player.ft_pct | floatformat:2}}</td>
              <td>{{player.reb | floatformat:2}}</td>
              <td>{{player.ast | floatformat:2}}</td>
              <td>{{player.tov | floatformat:2}}</td>
              <td>{{player.atr | floatformat:2}}</td>
              <td>{{player.stl | floatformat:2}}</td>
              <td>{{player.blk | floatformat:2}}</td>
              <td>{{player.pts | floatformat:2}}</td>
              <td>{{player.getSum | floatformat:2}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/sorttable.js' %}"></script>
    <script src="{% static 'js/stats.js' %}"></script>
{% endblock %}