/*********
GENERAL
**********/
header div h1,
header div h2,
header div p,
section div h1,
section div h3{
  font-family: 'Nixie One', cursive;
}

/*******
GENERAL SECTION
*******/
section{
  margin: -30px 0 0 0;
}

.table th,
.table td {
   text-align: center;   
}

img.icon{
  height: 20px; 
  width: 20px;
  margin: -10px -10px;
}

/*********
GENERAL Table Styles
**********/
th{
  cursor: pointer;
}

tr:nth-child(even) {
    background-color: #F8F8F8;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

/*********
Player Images
**********/
#player_img{
  background-color: #EEE;
  border-radius: 100%;
}


/*********
Home Page (root)
**********/
div#home-parent {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.4);
}

div.home-center {
  font-family: 'Nixie One', cursive;
  opacity: 1.0;
  color:white;
  text-align:center;
  margin:auto;
}

body#root{
  background-image: url("../img/tweed.png")
}

/*********
Basic Stats Page
**********/
#stats_main tr, #stats_main th{
  font-size: 0.80em;
}

/*********
Game Log Page
**********/
#game_log{
  margin-top: 25px;
}

#game_log tr, #game_log th{
  font-family: 'Nixie One', cursive;
  font-size: 1.6em;
}

/*********
Fantasy User Ranking Page
**********/
#vote_button{
  max-width:25%;
  height:auto;
  margin:0px -40px;
}

.table tbody>tr>td.name_align{
    vertical-align: middle;
}

/****
LOGIN OVERLAY
*****/

#overlay{
  background:LightGray;
  width:55%;
  height:30%;
  position:absolute;
  top:25%;
  left:25%;
}
img.lightbox-icon1{
  height: auto;
  width: auto;
  margin-right: 10px;
  margin-left: 300px;
}
img.lightbox-icon2{
  height: auto;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
}

#lightbox-text{
    font-family: 'Nixie One', cursive;
}